Pillow
paddleocr
numpy
opencv-python
transformers
torch
torchvision
torchaudio
tensorflow
modelscope
openai
addict
paddlepaddle
datasets==2.16.0
oss2
simplejson
sortedcontainers
gradio
azure-ai-documentintelligence
python-dotenv
kornia